<header class="main-header">        
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<%= area === 'home' ? 'active' : '' %>">Home</a></li>
            <li class="main-header__item"><a href="/running" class="<%= area === 'running' ? 'active' : '' %>">Running</a></li>
            <li class="main-header__item"><a href="/weight" class="<%= area === 'weight' ? 'active' : '' %>">Weigh-ins</a></li>
            <li class="main-header__item"><a href="/workouts" class="<%= area === 'workouts' ? 'active' : '' %>">Workouts</a></li>
        </ul>
    </nav>
</header>
