<%- include('includes/head.ejs', { title: 'Under Construction'}) %>
<body>    
    <%- include('includes/nav.ejs', { area: area }) %>
    <main>
        <h1>This page is under construction</h1>
    </main>
</body>
</html>