<%- include('includes/head.ejs', { title: 'Welcome to Lifehealth'}) %>
<body>
    <%- include('includes/nav.ejs', { area: 'home'}) %>
    <main>
        <h1>lifehealth</h1>
    </main>
</body>
</html>