<%- include('includes/head.ejs', { title: 'Page Not Found'}) %>
<body>
    <%- include('includes/nav.ejs', { area: ''}) %>
    <main>
        <h1>I...don't know what that is...</h1>
    </main>
</body>
</html>