<%- include('includes/head.ejs', { title: 'Running'}) %>
<body>
    <%- include('includes/nav.ejs', { area: 'running'}) %>
    <main>
        <h1>Running!</h1>

        <% if (runnings.length > 0) { %> 
            <p>Recent Runs</p>
            <ul>
                <% for (let run of runnings) { %>
                    <li><%= run.runDate %>, <%= run.miles %> miles</li>
                <% } %>        
            </ul>
        <% } else { %>
            <p>No Runs Logged</p>
        <% } %> 
        <a href="/running/add-run">Add a run</a>
    </main>
</body>
</html>