<%- include('includes/head.ejs', { title: 'Add Run'}) %>
<body>
    <%- include('includes/nav.ejs', { area: 'running'}) %>
    <main>
        <h1>Add a Run</h1>
        <form action="/running/add-run" method="POST">
            <div class='form-row'>
                <label class="form-row-label" for="rundate">Date</label>
                <input class="form-row-input" type="date" name="rundate" id="rundate" value="<%= (new Date()).toLocaleDateString('en-CA') %>" />
            </div>
            <div class='form-row top-align'>
                <label class="form-row-label" for="distance">Distance<br/>(miles)</label>
                <input class="form-row-input" type="number" name="distance" id="distance" step="0.01" />
            </div>
            <div class='form-row'>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>