<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Run</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">        
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" class="active">Home</a></li>
                <li class="main-header__item"><a href="/running">Running</a></li>
                <li class="main-header__item"><a href="/weight">Weigh-ins</a></li>
                <li class="main-header__item"><a href="/workouts">Workouts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add a Run</h1>
        <form action="/running/add-run" method="POST">
            <div class='form-row'>
                <label class="form-row-label" for="rundate">Date</label>
                <input class="form-row-input" type="date" name="rundate" id="rundate" />
            </div>
            <div class='form-row top-align'>
                <label class="form-row-label" for="distance">Distance<br/>(miles)</label>
                <input class="form-row-input" type="number" name="distance" id="distance" step="0.01" />
            </div>
            <div class='form-row'>
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>